<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster|Lato' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="wrapper">
      <%= render "shared/header" %>
      <%= yield %>
    </div>
  </body>
</html>
